* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.size {
    max-width: 1200px;
    margin: 0 auto;
}